@model ProyetoSetilPF.Models.Agencia

@{
    ViewData["Title"] = "Crear Agencia";
}

<div class="container py-4">
    <h2 class="fw-bold text-primary mb-4">
        <i class="bi bi-building me-2"></i>Crear Agencia
    </h2>

    <div class="card shadow rounded-3 p-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle me-1"></i> Crear
                </button>
                <a asp-action="Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left-circle me-1"></i> Volver
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}